name: build-on-commit
on:
  push:
    branches:
      - master
      - develop
jobs:
  publish:
    name: Push image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: branch

      - name: Derive docker hub repo name
        id: repo_name
        shell: bash
        run: |
          REGEX="/ab_service_(.+)"
          [[ "${{ github.repository }}" =~ $REGEX ]]
          DOCKER_HUB_REPO=ab-${BASH_REMATCH[1]/_/-}
          echo "::set-output name=docker_hub_repo::$DOCKER_HUB_REPO"

      - name: Check out the git repo
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            digiserve/${{ steps.repo_name.outputs.docker_hub_repo }}:${{ steps.branch.outputs.branch }}
