name: PR Merged
on:
  pull_request:
    types: [closed]
    branches: [master, develop]
permissions:
  contents: write
jobs:
  call-get-label:
    name: Label
    # Only run if the PR closed by merging and we have a label
    if: ${{ github.event.pull_request.merged }}
    uses: digi-serve/.github/.github/workflows/get-pr-release-label.yml@master
  call-e2e-tests:
    name: Test
    needs: [call-get-label]
    if: ${{needs.call-get-label.outputs.valid == 'true' }}
    uses: digi-serve/.github/.github/workflows/cypress-e2e-tests.yml@master
  call-bump-version:
    name: Version
    # Only run if tests pass 
    needs: [ call-get-label, call-e2e-tests ]
    if: ${{ needs.call-get-label.outputs.label != 'no_release' }}
    uses: ./.github/workflows/bump-version.yml
    with:
      ref: ${{ github.ref }}
      type: ${{ needs.call-get-label.outputs.label }}
      pre_release: ${{ github.base_ref == 'develop' && 'dev' || '' }}
  call-create-release:
    name: Release
    uses: digi-serve/.github/.github/workflows/create-release.yml@master
    needs: [call-bump-version]
    with:
      tag: v${{ needs.call-bump-version.outputs.new_version }}
  call-docker-build:
    name: Build
    uses: digi-serve/.github/.github/workflows/docker-build.yml@master
    needs: [call-bump-version]
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    with:
      base_tag: ${{ github.base_ref }}
      tags: ${{ github.base_ref }},${{ needs.call-bump-version.outputs.new_version }}
  call-dispatch-update:
    needs: [ call-docker-build, call-bump-version, call-get-label ]
    # Only update the "master" version in runtime
    if: ${{  github.base_ref == 'master' }}
    uses: digi-serve/.github/.github/workflows/dispatch-update.yml@master
    with:
      type: patch
      version: ${{ needs.call-bump-version.outputs.new_version }}
      app_id: ${{ vars.GS_DEV_APP_ID }}
    secrets:
      app_secret: ${{ secrets.GS_DEV_APP_PK }}
      
